<% content_for :page_specific_styles do %>
  <%= stylesheet_link_tag 'users', "data-turbo-track": "reload" %>
<% end %>

<%= render 'shared/navigation' %>

<body class= "background">

<div class= atest>
    <h1><u>Users</u></h1>

      <form id="createUserForm">
        <input type="text" id="username" placeholder="Enter username" required>
        <input type="email" id="email" placeholder="Enter email" required>
        <input type="text" id="password" placeholder="Key in your password" required>
        <input type="text" id="first_name" placeholder="Type in your first name" required>
        <input type="text" id="last_name" placeholder="Then, enter your last name" required>
        <button type="submit" id="createUser">Create New User</button>
      </form>

      <button id="fetchUsers">Generate User List</button>
      <h1>- - - - - - - - </h1>
    <div id="userList"></div>
</div>

</body>

<%= javascript_include_tag 'users' %>