<% content_for :page_specific_styles do %>
  <%= stylesheet_link_tag 'welcome', "data-turbo-track": "reload" %>
<% end %>

<%= render 'shared/navigation' %>

<body class="background">
  <div class="container">
    <div>
      <h1><u>Welcome!</u></h1>
      <p>This is the home page of my rails website!</p>
      <p>Click on the "View Posts" or any other link in the navbar to continue!</p>
      <p>- - - - - - - - </p>
      <p><strong>Credits: Ruby 3.3.4 | Rails 7.1.3.4 | Render | Amazon AWS S3</strong></p>
    </div>
  </div>
</body>

