<div id="<%= dom_id post %>">

  <h1>
    <%= post.title %>
  </h1>

  <p>
    <%= post.body %>
  </p>

 <% if post.image.attached? %>
    <p>
      <%= image_tag post.image, style: "max-width: 750px; height: auto;" %>
    </p>
  <% else %>
    <p>No image attached</p>
  <% end %>

</div>
