h1 {
    font-size: 20px;
}

.delete-button {
    background-color: #ff4136;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #d50000;
}

.post-image-container {
    width: 100%;
    max-width: 600px;
    /* Adjust this value as needed */
    margin: 0 auto;
}

.responsive-image {
    width: 100%;
    height: auto;
    object-fit: contain;
}

@media screen and (min-width: 768px) {
    .post-image-container {
        max-width: 600px;
        /* Larger size for tablets and up */
    }
}

@media screen and (min-width: 1024px) {
    .post-image-container {
        max-width: 800px;
        /* Even larger for desktops */
    }
}